
/*Images*/
.row .sketches1 img {
  width: 100%;
}

.row .sketches2 img {
  width: 70%;
}


#finalDesign {
  width: 50%;
}

.textJumbotron{
  font-size: 14px;
}

.jumbotron{
  background: #FFFFFF;
}


#map1 {
  display: block;
  width: auto;
  height:700px;
  margin-left: auto;
  margin-right: auto;
}

#bar1 {
  display: block;
  width: auto;
  height:300px;
  margin-left: auto;
  margin-right: auto;


}
